body {
    background-color: #212122;
}
h1, h2, p {
    color: #EEEEEE;
}
li, a {
    color: #EEEEEE;
    text-decoration: none;
    list-style: none;
}
.header {
    display: flex;
    height: 50px;
    align-items: center;
    padding:10px;
}
.heads{
    display: flex;
    height: 50px;
    gap: 16px;
    margin-left: auto;
    align-items: center;
}